[Desktop Entry]
Name=Solakon One UI
Comment=Monitor and control FoxESS Solakon One solar inverter
Exec=solakon-one-ui
Icon=solakon-one-ui
Terminal=false
Type=Application
Categories=Science;Utility;
